{% extends "index.html" %}
{% load static %}

{% block main_content %}
<div class="container">
    <div class="row">
        <!-- Register New User -->
        <div class="col-md-4">
            <div class="text-center text-light" style="background: #3C208C;">
                <h4 style="color: aliceblue;">Register new reader</h4>
            </div>
            <div class="container" style="overflow-y: auto;height: 600px;background: aliceblue;">
                <form class="d-flex" action="/readers/add" method="POST">
                    {% csrf_token %}
                    <table class="table" style="margin-top: 20px;">
                        <tr>
                            <td style="text-align: left;vertical-align: middle;padding-left: 15px;">Name : </td>
                            <td><input type="text" class="form-control" name="reader_name"></td>
                        </tr>
                        <tr>
                            <td style="text-align: left;vertical-align: middle;padding-left: 15px;">Contact : </td>
                            <td><input type="text" class="form-control" name="reader_contact"></td>
                        </tr>
                        <tr>
                            <td style="text-align: left;vertical-align: middle;padding-left: 15px;">Refrence ID : </td>
                            <td><input type="text" class="form-control" name="reader_refrenceID"></td>
                        </tr>
                        <tr>
                            <td style="text-align: left;vertical-align: middle;padding-left: 15px;">Address : </td>
                            <td><textarea class="form-control" name="reader_address"></textarea></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="text-center">
                                <button class="btn btn-primary" type="submit">Save</button>
                            </td>                            
                        </tr>
                    </table>
                </form>
                <ul>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                    <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</li>
                    <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. </li>
                </ul>
            </div>
        </div>

        <!-- Search User -->
        <div class="col-md-8">
            <div class="text-center">
                <h4>Search Reader</h4>
            </div>
            <div class="row justify-content-center"> <!-- Added justify-content-center -->
                <nav class="navbar bg-body-light">
                    <div class="container-fluid justify-content-center align-items-center">
                        <form class="d-flex" role="search" method="get">
                            <input class="form-control me-2" type="text" name="q" placeholder="Search by ReferenceID">
                            <input class="btn btn-outline-primary" type="submit" value="Search">
                        </form>
                    </div>
                </nav>
            </div>
                <div class="row justify-content-center text-center" style="margin-top: 20px;"> <!-- Added justify-content-center -->
                    <p>{{readers|length}} readers subscribed.</p>
                </div>
                <div class="row" style="margin-top: 20px;">
                    <div class="container" style="overflow-y:auto; height:400px;">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <td>Reader ID</td>
                                    <td>Name</td>
                                    <td>Contact</td>
                                    <td>Refrence ID</td>
                                    <td>Address</td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for reader in readers %}
                                    <tr>
                                        <td>{{reader.id}}</td>
                                        <td>
                                            {% if reader.active %}
                                                <span class="btn btn-success">{{reader.reader_name}}</span>
                                            {% else %}
                                                <span class="btn btn-secondary">{{reader.reader_name}}</span>
                                            {% endif %}
                                        </td>
                                        
                                        <td>{{reader.reader_contact}}</td>
                                        <td>{{reader.reference_id}}</td>
                                        <td>{{reader.reader_address}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
        
    </div>
</div>
{% endblock %}
